.beer-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-decoration: none;
    color: black;
}

.beer-card img {
    min-height: 150px; 
    width: 10%;
}

.beer-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.beer-card-text h3 {
    color: grey;
}